.menu-button-wrap {
    position: fixed;
    left: 11px;
    top: 100px;


}
.menu-button-wrap .menu-button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: none;
    background: 0 0;
}
.menu-button-wrap .menu-button .close:after, .menu-button-wrap .menu-button .close:before, .open:after, .open:before {
    content: "";
    width: 2px;
    height: 48px;
    position: absolute;
    background-color: black;
    left: 50%;
    top: 50%;
    display: block;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    
}
.menu-button-wrap .menu-button .close:before {
    transform: translate(5px, -50%) scaleY(0.9) rotate(180deg);
}
.menu-button-wrap .menu-button .close:after {
    transform: translate(-5px, -50%) scaleY(0.9) rotate(-180deg);
}

.menu-button-wrap .menu-button .open:before {
    transform: translate(0, -50%) scaleY(0.9) rotate(-45deg);
    background: white;

}
.menu-button-wrap .menu-button .open:after {
    transform: translate(0, -50%) scaleY(0.9) rotate(45deg);
    background: white;
}
 